@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Feel free to dowload my sample apps.</p>
</div>
<div class="text-body text-center" id="cont">

    <div id="text">C++ samples</div><div id="button">
        <a href="~/C++.rar" download id="button1">Download</a>
    </div><div id="break"></div>
    <div id="text">C# samples</div><div id="button">
        <a href="~/CS.rar" download id="button1">Download</a>
    </div><div id="break"></div>
    <div id="text">HTML, CSS and JS samples</div><div id="button">
        <a href="~/web.rar" download id="button1">Download</a>
    </div><div id="break"></div>
</div>
