@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    All samples are malware free.
    If you would like to see some more samples please visit me on github at https://github.com/Rafrucin<br <br />
    Thanks!
</p>
